.container {
  margin: 20px;

  .filters {
    display: flex;

    mat-form-field {
      width: 300px;
      margin-right: 20px;
    }

    .buttons {
      flex: auto;
      align-self: center;

      button {
        margin-left: 15px;
      }
    }
  }

  .game-list {
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-flow: wrap;
    overflow: visible;

    .logged{
      cursor: pointer;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
    }
    .logged:hover{
      transform: scale(1.03);

    }

  }

  .buttons {
    text-align: right;
  }
}



button {
  min-width: 125px;
  width: auto;
}
