@if(isLoaded()){
<div class="container">
  @if(editMode){
  <h1>Modificar Prestamo</h1>
  }
  @else{
  <h1>Crear Prestamo</h1>
  }
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Identificador</mat-label>
      <input type="text" matInput placeholder="Identificador" formControlName="id">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nombre del juego</mat-label>
      <mat-select class="filterInput" disableRipple
      formControlName="game" [compareWith]="compareById">
        @for(game of games; track game.id){
        <mat-option [value]="game">{{game.title}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nombre del cliente</mat-label>
      <mat-select class="filterInput" disableRipple
      formControlName="client" [compareWith]="compareById">
        @for(client of clients; track client.id){
        <mat-option [value]="client">{{client.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="daterow">
      <mat-form-field class="date">
        <mat-label>Fecha del prestamo</mat-label>
        <input matInput
        [matDatepicker]="startPicker"

        [matDatepickerFilter]="startDateFilter"

        (click)="startPicker.open()"
        readonly
        name="startDate"
        class="dateFilter"
        required
        formControlName="startDate"
        />
        <mat-datepicker-toggle matSuffix
        [for]="startPicker"
        [ngClass]="{'start-toggle':startDate}"></mat-datepicker-toggle>
        <mat-datepicker
        #startPicker

        [dateClass]="dateClass"></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="date">
        <mat-label>Fecha de devolucion</mat-label>
        <input matInput
        [matDatepicker]="endPicker"

        (click)="endPicker.open()"

        [matDatepickerFilter]="endDateFilter"
        readonly
        name="endDate"
        class="dateFilter"
        required
        formControlName="endDate"
        />
        <mat-datepicker-toggle matSuffix
        [for]="endPicker"
        [ngClass]="{'end-toggle':endDate}"></mat-datepicker-toggle>
        <mat-datepicker
        #endPicker

        [dateClass]="dateClass"></mat-datepicker>
      </mat-form-field>
    </div>
  </form>

  <div class="buttons">
    <button mat-stroked-button (click)="clean()">Limpiar</button>
    <button mat-stroked-button (click)="onClose()">Cerrar</button>
    <button mat-flat-button color="primary" (click)="onSave()"
      [disabled]="isUnchangedOrNotFull()">Guardar</button>
  </div>
</div>
}
