.container {
    min-width: 400px;
    max-width: 500px;
    padding: 20px;

    form {
        display: flex;
        flex-direction: column;
        margin-bottom:20px;

        .daterow{
          display: flex;
          gap: 30px;
        }
        .date{
          flex:1;
          min-width: 0;
          width: 40%;
        }
    }

    .buttons {
        text-align: right;

        button {
            margin-left: 10px;
        }
    }


}
