<div class="container">
  <h1>Registrarse</h1>

  <form>
    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <input type="text" matInput placeholder="Usuario" [(ngModel)]="user.username" name="username" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
        <input type="text" matInput placeholder="Contraseña" [(ngModel)]="user.password" name="pasword" required>
    </mat-form-field>
  </form>

  <div class="buttons">
    <button mat-stroked-button>Cerrar</button>
    <button mat-flat-button color="primary">Registrarse</button>
  </div>
</div>
