:host{
  display: flex;
  flex:1;
  min-height: 0;
}
.page {
  display: flex;
  flex-direction: column;
  //height: 100%;
  flex:1;
  min-height: 0;
  overflow: hidden;
}

/* HEADER */
.page-header {
  padding: 20px 20px 10px 20px;

  h1 {
    margin: 0;
  }
}

/* CONTENEDOR CENTRAL */
.page-container {
  flex: 1;

  min-height: 0;

  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;

}

/* WRAPPER tabla + paginator */
.table-wrapper {
  display: flex;
  flex-direction: column;

  //height: 100%;

  flex:1;
  min-height: 0;

  overflow: hidden;

  max-width: 1200px;
  width:100%;
  margin: 0 auto;

}

/* SOLO AQUÍ hay scroll */
.table-scroll {
  flex: 1;
  overflow-y: auto;

  min-height: 0;
}

/* tabla */
mat-table {
  width: 100%;

  .mat-header-row {
    background-color: #f5f5f5;

    .mat-header-cell {
      text-transform: uppercase;
      font-weight: bold;
      color: #838383;
    }
  }

  .mat-column-id {
    flex: 0 0 30%;
    justify-content: center;
  }

  .mat-column-name {
    flex: 0 0 30%;
    justify-content: center;
  }

  .mat-column-nationality {
    flex: 0 0 30%;
    justify-content: center;
  }

  .mat-column-action {
    flex: 0 0 10%;
    justify-content: center;
  }
}

/* paginator SIEMPRE visible */
mat-paginator {
  flex-shrink: 0;
}

/* footer */
.page-footer {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;

  margin-top:auto;
}
